body {
    background-color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 30px;
    border: 2px solid black;
    border-right: none;
    border-bottom: none;
    border-top: none;
}

.header {
    margin-bottom: 40px;
}

.header__logo {
    width: 300px;

margin: -20px;   
} 

h1 {
    font-size: 22px;
}